@{

    ViewData["Title"] = "Produtos";
}
@model IEnumerable<SuperStore.MVC.ViewModels.Products.ProductViewModel>;
<h3>Produtos</h3>
<div class="d-flex flex-wrap justify-content-lg-evenly align-items-start">
    <div class="card" style="width: 16rem; margin: 0.3em 2em">
        <img src="~/images/placeholder.jpg" class="card-img-top" style="height: 18em;" alt="new product">
        <div class="card-body border-top">
            <a class="h5 card-title" asp-controller="Products" asp-action="Create">Novo produto</a>
        </div>
    </div>
    @foreach (var product in Model)
    {
        <div class="card" style="width: 16rem; margin: 0.3em 2em">
            <img src="@(!string.IsNullOrEmpty(product.ImageUrl) ? $"/images/{product.ImageUrl}" : "/images/placeholder.jpg")" class="card-img-top" style="height: 18em;" alt="product image">
            <div class="card-body border-top">
                <h5 class="card-title text-nowrap text-no-overflow">@product.Name</h5>
                <p class="card-text text-nowrap text-no-overflow">@product.Description</p>
                <p class="card-text">R$ @product.Price</p>
                <div class="d-flex justify-content-between align-items-start">
                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary" role="button">Editar</a>
                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger" role="button">Deletar</a>
                </div>
            </div>
        </div>
    }
</div>